<%= form_for([:scaffold, @party]) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :party_no %><br />
    <%= f.number_field :party_no %>
  </div>
  <div class="field">
    <%= f.label :competition_id %><br />
    <%= f.number_field :competition_id %>
  </div>
  <div class="field">
    <%= f.label :reverse_cource_order %><br />
    <%= f.check_box :reverse_cource_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
