<p id="notice"><%= notice %></p>

<p>
  <b>Party no:</b>
  <%= @party.party_no %>
</p>

<p>
  <b>Competition:</b>
  <%= @party.competition_id %>
</p>


<%= link_to 'Edit', edit_scaffold_party_path(@party) %> |
<%= link_to 'Back', scaffold_parties_path %>
