<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @shot_result.player_id %>
</p>

<p>
  <b>Hole:</b>
  <%= @shot_result.golf_hole_id %>
</p>

<p>
  <b>Shot num:</b>
  <%= @shot_result.shot_num %>
</p>

<p>
  <b>Pat num:</b>
  <%= @shot_result.pat_num %>
</p>


<%= link_to 'Edit', edit_scaffold_shot_result_path(@shot_result) %> |
<%= link_to 'Back', scaffold_shot_results_path %>
