<h1>Listing golf_fields_greens</h1>

<table>
  <tr>
    <th>Golf field</th>
    <th>Green</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @golf_fields_greens.each do |golf_fields_green| %>
  <tr>
    <td><%= golf_fields_green.golf_field_id %></td>
    <td><%= golf_fields_green.green_id %></td>
    <td><%= link_to 'Show', golf_fields_green %></td>
    <td><%= link_to 'Edit', edit_golf_fields_green_path(golf_fields_green) %></td>
    <td><%= link_to 'Destroy', golf_fields_green, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Golf fields green', new_golf_fields_green_path %>
