<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @golf_cource.name %>
</p>

<p>
  <b>Golf field:</b>
  <%= @golf_cource.golf_field_id %>
</p>


<%= link_to 'Edit', edit_scaffold_golf_cource_path(@golf_cource) %> |
<%= link_to 'Back', scaffold_golf_cources_path %>
