<%= javascript_include_tag "logic/common.js.coffee" %>
<%= javascript_include_tag "logic/competition_scoring" %>
<%= javascript_include_tag "footer" %>
<div id="data_not_loaded">
  データがロードされていません。
</div>
<div id="data_loaded">
  <div class="header">
    Hole No: <label id="hole_no"></label><br>
  </div>
  <div class="score_form">
    <div class="shot_score">
      <a id="shot_score_minus"  data-role="button" data-inline="true" data-icon="arrow-l"  data-theme="c">Down</a>
      <em id="shot_num">4</em>
      <a id="shot_score_plus" data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="right" data-theme="c">Up</a>
    </div>
    <div class="pat_score">
      <a id="pat_score_minus"  data-role="button" data-inline="true" data-icon="arrow-l"  data-theme="c">Down</a>
      <em id="pat_num">2</em>
      <a id="pat_score_plus" data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="right" data-theme="c">Up</a>
    </div>
  </div>
  <div id="footer">
    <div class="full_width">
      <%= button_tag "このホールのスコアを送信", id: "submit" %>
    </div>
    <div class="half_width">
      <%= button_tag "自分の組のスコアを確認", id: "my_party_score" %>
    </div>
    <div class="half_width">
      <%= button_tag "他の組のスコアを確認", id: "other_party_score" %>
    </div>
  </div>
</div>
