<div id="data_not_loaded">
  <%= button_tag "Load competition data", id: "load_data_button" %>
</div>
<div id="data_loaded">
  <div class="header">
  </div>
  <div class="score_form">
    <div class="shot_score">
      <%= image_tag("/assets/minus.png", size: "35x35") %>
      <em>5</em>
      <%= image_tag("/assets/plus.png", size: "35x35") %>
    </div> 
    <div class="pat_score">
      <%= image_tag("/assets/minus.png", size: "35x35") %>
      <em>5</em>
      <%= image_tag("/assets/plus.png", size: "35x35") %>
    </div> 
  </div>
  <div class="footer">
    <%= button_tag "決定", id: "submit" %>
  </div>
</div>
