<h1>Listing golf_cources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Golf field</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @golf_cources.each do |golf_cource| %>
  <tr>
    <td><%= golf_cource.name %></td>
    <td><%= golf_cource.golf_field_id %></td>
    <td><%= link_to 'Show', golf_cource %></td>
    <td><%= link_to 'Edit', edit_golf_cource_path(golf_cource) %></td>
    <td><%= link_to 'Destroy', golf_cource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Golf cource', new_golf_cource_path %>
