<!DOCTYPE html>
<html>
<head>
  <title>Scoreupgolf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "#{controller.controller_name}" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "#{controller.controller_name}_#{controller.action_name}" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <div class='<%= controller.controller_name %>'>
  <div id="contents">
    <div id="logo">
      <%= image_tag "logo.gif" %>
    </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
